:root{
    --border-left: 3vw;
    --border-right: 3vw;
    --border-radius: 10px;
    --footer-height: 6vh;
    --banner-height: 25vh;

    --spacing-smallest-vh: 0.5vh;
    --spacing-smaller-vh: 1vh;
    --spacing-small-vh: 1.5vh;
    --spacing-normal-vh: 2vh;
    --spacing-big-vh: 4vh;
    --spacing-bigger-vh: 6vh;

    --spacing-smallest-vw: 0.5vw;
    --spacing-smaller-vw: 1vw;
    --spacing-small-vw: 2vw;
    --spacing-normal-vw: 3vw;

    --button-width: 75vw;
    --button-height: 5vh;

    --shadow-x: 0vw;
    --shadow-y: 1vw;
    --shadow-blur: 2vw;
    --shadow-color: var(--theme_grey);
}

@media screen and (max-device-width: 900px){
    body{
        padding-left: var(--border-left);
        padding-right: var(--border-right);
    }

    h1{
        font-weight: 700;
        font-size: 40pt;
    }

    h2{
        font-weight: 300;
        font-size: 40pt;
    }

    h3{
        font-weight: 600;
        font-size: 25pt;
    }

    h4{
        font-weight: 300;
        font-size: 35pt;
    }

    /* Button */
    h5{
        font-weight: 400;
        font-size: 35pt;
    }

    p{
        font-weight: 300;
        font-size: 25pt;
    }

    b{
        font-weight: 600;
    }

    ul{
        list-style-type: none;
        margin-bottom: calc(var(--footer-height));
    }

    li{
        padding-bottom: var(--spacing-small-vh);
    }

    .button-icon{
        color: var(--theme_dark);
        font-size: 55pt !important;
        text-align: right;
    }

    .small-icon{
        font-size: 35pt !important;
        margin-right: var(--spacing-smaller-vw);
    }

    .highlight-icon{
        color: var(--theme_highlight);
    }

    .highlight2-icon{
        color: var(--theme_highlight2);
    }

    .flipX{
       transform: scaleX(-1);
    }

    .symbols-filled {
        font-variation-settings:
             'FILL' 1,
             'wght' 400,
             'GRAD' 0,
             'opsz' 48
    }

    .button{
        width: var(--button-width);
        height: var(--button-height);
        background-color: var(--theme_highlight);
        color: var(--theme_white);
        border-radius: var(--border-radius);
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-blur) var(--shadow-color);
        margin-top: var(--spacing-normal-vh);
    }

    .banner{
        position: absolute;
        top: 0;
        left: 0;
        height: var(--banner-height);
        width: 100vw;
        object-fit: cover;

    }

    .header{
        position: sticky;
        top: 0;
        padding: var(--spacing-normal-vh) 0 var(--spacing-normal-vh) 0;
        background: white;
    }

    .header-banner{
        position: sticky;
        padding-top: calc(var(--banner-height) + var(--spacing-normal-vh));
        padding-bottom: var(--spacing-normal-vh);
    }

    .header-heading{
        width: calc(100vw - var(--border-left) - var(--border-right));
        display: grid;
        grid-template-columns: 80% 20%;
        align-items: center;
    }

    .header-status{
        margin-top: var(--spacing-normal-vh);
        background: var(--theme_dark);
        border-radius: var(--border-radius);
        width: calc(100vw - var(--border-left) - var(--border-right));
        height: var(--spacing-bigger-vh);
        align-items: center;
        display: grid;
        grid-template-columns: 15% 85%;
        padding-left: var(--spacing-normal-vw);
        padding-right: var(--spacing-normal-vw);
        color: var(--theme_white);
    }

    .header-filter{
        margin-top: var(--spacing-normal-vh);
        width: calc(100vw - var(--border-left) - var(--border-right));
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        display: flex;
    }

    .filter{
        border-radius: var(--border-radius);
        height: var(--spacing-big-vh);
        align-items: center;
        display: flex;
        margin-right: var(--spacing-small-vw);
        padding: 0 var(--spacing-normal-vw) 0 var(--spacing-normal-vw);
    }

    .filter-button{
        background: var(--theme_highlight);
        color: white;
    }

    .filter-item{
        border: solid var(--theme_dark);
    }

    .content{
        width: calc(100vw - var(--border-left) - var(--border-right));
    }

    .content-video-item{
        display: grid;
        grid-template-columns: 20% 80%;
        column-gap: var(--spacing-small-vw);
        align-items: center;
    }

    .video-preview{
        border-radius: var(--border-radius);
        object-fit: cover;
        width: calc(0.2 * (100vw - var(--border-left) - var(--border-right)));
        height: calc(0.2 * (100vw - var(--border-left) - var(--border-right)));
    }

    .video-title{
        width: calc((0.8 * (100vw - var(--border-left) - var(--border-right))) - 2*var(--spacing-small-vw));
    }

    .video-information{
        margin-top: var(--spacing-smallest-vh);
        display: grid;
        grid-template-columns: 33% 34% 33%;
        align-items: center;
    }

    .video-stats{
        display: flex;
    }

    .video-stats-last i{
        font-size: 20pt !important;
        color: var(--theme_highlight);
        padding-left: var(--spacing-smallest-vw);
    }

    .video-stats-last{
        justify-content: right;
    }

    .progress{
        padding-top: var(--spacing-small-vh);
        padding-bottom: var(--spacing-normal-vh);
    }

    .progress-bar{
        width: calc(100vw - var(--border-left) - var(--border-right));
        background-color: var(--theme_lightgrey);
        border-radius: var(--border-radius);
    }

    .progress-bar-current{
        width: calc(0.68 * (100vw - var(--border-left) - var(--border-right)));
        background-color: var(--theme_highlight);
        height: 2vh;
        border-radius: var(--border-radius);
    }

    .progress-slider{
        width: calc(100vw - var(--border-left) - var(--border-right));
        height: 0.5vh;
        background-color: var(--theme_lightgrey);
        border-radius: var(--border-radius);
        display: flex;
        justify-items: center;
        align-items: center;
    }

    .progress-slider-current{
        width: calc(0.68 * (100vw - var(--border-left) - var(--border-right)));
        background-color: var(--theme_highlight);
        height: 0.5vh;
        border-radius: var(--border-radius);
    }

    .progress-slider-thumb{
        width: 3vw;
        height: 3vw;
        background: var(--theme_white);
        border-radius: 50%;
        border: solid 3px var(--theme_highlight);
        margin-left: -1.5vw;
    }

    .progress-slider-locked{
        height: 0.5vh;
        width: calc(0.2 * (100vw - var(--border-left) - var(--border-right)));
        background-color: var(--theme_darkgrey);
        border-radius: var(--border-radius);
        margin-right: 0;
        margin-left: auto;
    }

    .progress-info{
        padding-top: var(--spacing-smallest-vh);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .progress-parameters{
        padding-top: var(--spacing-small-vh);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .parameters{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: var(--spacing-normal-vw);
    }

    .parameter-box{
        background-color: var(--theme_lightgrey);
        width: calc(0.5 * (100vw - var(--border-right) - var(--border-left) - var(--spacing-normal-vw)));
        border-radius: var(--border-radius);
        padding: var(--spacing-small-vh) var(--spacing-small-vw) var(--spacing-small-vh) var(--spacing-small-vw);
    }

    .parameter-box p{
        color: var(--theme_grey);
    }

    .parameter-box-row{
        display: flex;
        align-items: center;
        color: var(--theme_grey);
    }

    .heart-monitor{
        border: solid var(--theme_highlight2);
        background-color: var(--theme_highlight2-transparent) !important;
    }

    .footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: var(--footer-height);
        background-color: var(--theme_dark);
        color: white;
        padding-left: var(--border-left);
        padding-right: var(--border-right);
        display: flex;
        align-items: center;
    }

    .footer-spacing{
        position: fixed;
        left: 0;
        bottom: var(--footer-height);
        width: 100vw;
        height: var(--spacing-small-vh);
        background-color: white;
    }

    .footer-content{
        width: calc(100vw - var(--border-left) - var(--border-right));
        display: grid;
        align-items: center;
        grid-template-columns: 50% 50%;
    }

    .footer-linking{
        display: grid;
        align-items: center;
        text-align: right;
        grid-template-columns: 60% 40%;
    }

    .footer-linking p{
        font-size: 20pt;
    }
}