:root{
    --border-left: 5vw;
    --border-right: 5vw;
    --border-radius: 10px;
    --footer-height: 6vh;

    --spacing-smallest-vh: 0.5vh;
    --spacing-smaller-vh: 1vh;
    --spacing-small-vh: 1.5vh;
    --spacing-normal-vh: 2vh;
    --spacing-big-vh: 4vh;
    --spacing-bigger-vh: 6vh;

    --spacing-smallest-vw: 0.5vw;
    --spacing-smaller-vw: 1vw;
    --spacing-small-vw: 2vw;
    --spacing-normal-vw: 3vw;
}

@media screen and (max-device-width: 900px){
    body{
        padding-left: var(--border-left);
        padding-right: var(--border-right);
    }

    h1{
        font-weight: 700;
        font-size: 40pt;
    }

    h2{
        font-weight: 700;
        font-size: 40pt;
    }

    h3{
        font-weight: 600;
        font-size: 25pt;
    }

    p{
        font-weight: 300;
        font-size: 25pt;
    }

    b{
        font-weight: 600;
    }

    ul{
        list-style-type: none;
        margin-bottom: calc(var(--footer-height));
    }

    li{
        padding-bottom: var(--spacing-small-vh);
    }

    .button-icon{
        color: var(--theme_dark);
        font-size: 55pt !important;
        text-align: right;
    }

    .small-icon{
        font-size: 35pt !important;
        margin-right: var(--spacing-smaller-vw);
    }

    .highlight-icon{
        color: var(--theme_highlight);
    }

    .symbols-filled {
        font-variation-settings:
             'FILL' 1,
             'wght' 400,
             'GRAD' 0,
             'opsz' 48
    }

    .header{
        position: sticky;
        top: 0;
        padding: var(--spacing-normal-vh) 0 var(--spacing-normal-vh) 0;
        background: white;
    }

    .header-heading{
        width: calc(100vw - var(--border-left) - var(--border-right));
        display: grid;
        grid-template-columns: 70% 30%;
        align-items: center;
    }

    .header-status{
        margin-top: var(--spacing-smaller-vh);
        background: var(--theme_dark);
        border-radius: var(--border-radius);
        width: calc(100vw - var(--border-left) - var(--border-right));
        height: var(--spacing-bigger-vh);
        align-items: center;
        display: grid;
        grid-template-columns: 15% 85%;
        padding-left: var(--spacing-normal-vw);
        padding-right: var(--spacing-normal-vw);
        color: var(--theme_white);
    }

    .header-filter{
        margin-top: var(--spacing-smaller-vh);
        width: calc(100vw - var(--border-left) - var(--border-right));
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        display: flex;
    }

    .filter{
        border-radius: var(--border-radius);
        height: var(--spacing-big-vh);
        align-items: center;
        display: flex;
        margin-right: var(--spacing-small-vw);
        padding: 0 var(--spacing-normal-vw) 0 var(--spacing-normal-vw);
    }

    .filter-button{
        background: var(--theme_highlight);
        color: white;
    }

    .filter-item{
        border: solid var(--theme_dark);
    }

    .content{
        width: calc(100vw - var(--border-left) - var(--border-right));
    }

    .content-video-item{
        display: grid;
        grid-template-columns: 20% 80%;
        column-gap: var(--spacing-small-vw);
        align-items: center;
    }

    .video-preview{
        border-radius: var(--border-radius);
        object-fit: cover;
        width: calc(0.2 * (100vw - var(--border-left) - var(--border-right)));
        height: calc(0.2 * (100vw - var(--border-left) - var(--border-right)));
    }

    .video-title{
        width: calc((0.8 * (100vw - var(--border-left) - var(--border-right))) - 2*var(--spacing-small-vw));
    }

    .video-information{
        margin-top: var(--spacing-smallest-vh);
        display: grid;
        grid-template-columns: 33% 34% 33%;
        align-items: center;
    }

    .video-stats{
        display: flex;
    }

    .video-stats-last i{
        font-size: 20pt !important;
        color: var(--theme_highlight);
        padding-left: var(--spacing-smallest-vw);
    }

    .video-stats-last{
        justify-content: right;
    }

    .footer-spacing{
        position: fixed;
        left: 0;
        bottom: var(--footer-height);
        width: 100vw;
        height: var(--spacing-small-vh);
        background-color: white;
    }

    .footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: var(--footer-height);
        background-color: var(--theme_dark);
        color: white;
        padding-left: var(--border-left);
        padding-right: var(--border-right);
        display: flex;
        align-items: center;
    }

    .footer-content{
        width: calc(100vw - var(--border-left) - var(--border-right));
        display: grid;
        align-items: center;
        grid-template-columns: 50% 50%;
    }

    .footer-linking{
        display: grid;
        align-items: center;
        text-align: right;
        grid-template-columns: 60% 40%;
    }

    .footer-linking p{
        font-size: 20pt;
    }
}